{{! Access a property in context with html escape}}  
<h2>{{title}}</h2>
{{! Display an array, "each" is called helper, "this" or "." refers the current item }}
<div>
  <table class="product-info-table">
    <tr>
      <td>Id</td>
      <td>Category</td>
      <td>Name</td>
      <td>Price</td>
      <td>Stock</td>
      <td>Ops</td>
    </tr>
    {{#each products}}
    <tr>
        <td class='table-id'>{{this.id}}</td>
        <td class='table-category'>
          {{#if this.category }}
            {{lookup ../categoryNames this.category}}
          {{else }}
              {{../categoryNames.[0]}}
          {{/if}}
        </td>
        <td class='table-name'>{{this.name}}</td>
        <td class='table-price'>{{this.price}}</td>
        <td class='table-stock'>{{this.stock}}</td>
        <td class='table-ops'>
          {{#if this.stock }}
              <button class="buy-button" id="{{this.id}}" >BUY</button>
          {{else}}
            <span>Out of Stock</span>
          {{/if}}
        </td>
    </tr>
    {{/each}}
  </table>


</div>
<hr>

  <script>
    $(".buy-button").click(function () {
        console.log(this.id);
    });

    console.log('fşjakdsşf');

   </script>

   <!-- Socket.io script -->
<script src="/socket.io/socket.io.js"></script>

<script>
  $(document).ready(function() {
    // Bağlantı kurulumu
    const socket = io.connect();

    // Butonlara olay dinleyicisi ekleme
    $(".buy-button").click(function () {
        socket.emit('stock-update', this.id);
    });

    // Socket.io üzerinden gelen verileri dinleme
    socket.on('updateStock', function(updatedProduct) {
      $('#buy-' + updatedProduct.id).closest('tr').find('.table-stock').text(updatedProduct.stock);
    });
  });
  


  
</script>


{{#section "headerTags"}}
<meta name="description" content="User Table">
    <meta name="keywords" content="HTML,CSS,JavaScript,hds">
    <meta name="author" content="Bedirhan Kara">
    <link href="/css/{{cssFile}}" rel="stylesheet" type="text/css"/>
{{/section}}